@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 10px;
    width: 100%;
}
.container>h1{
    border-bottom: 2px solid #929292;
    width: 100%;
}

body {
	background-color: #eeeeee;
	padding: 0;
	margin: 0;
	display: flex;
}

.menu {
	margin-top: 37%;
	display: flex;
}

.toggle {
	background-color: #30bdf2;
	height: 80px;
	width: 80px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    border-radius: 3px;
}

.toggle:hover{
    background-color: #2783af;
}

.toggle>.material-icons {
	font-size: 60px;
	transition-duration: 0.3s;
}

.items {
	display: flex;
	flex-direction: row;
	transform: scaleX(0);
	transform-origin: left;
	transition-duration: 0.5s;
	background-color:
}

.color {
	cursor: pointer;
	display: flex;
	width: 80px;
	height: 80px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: transparent;
}

.color>span {
	color: black;
	font-size: 30px;
}

a>.material-icons {
	font-size: 30px
}

.color>span:hover {
	font-size: 40px;
	transition-duration: 0.2s;
}

.buton {
	background-color: #f5f5f5;
	border: none;
	width: 80px;
	height: 80px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.buton:hover {
	background-color: #ebebeb;
}

#eraser img {
	width: 70px;
	height: 70px;
}

#green {
	color: green;
}

#yellow {
	color: yellow
}

#blue {
	color: blue
}

#red {
	color: red
}

#orange {
	color: orange
}

canvas{
	position: absolute;
	z-index: -1;
}


.blue:hover{
    background-color: #2783af;
    transition: 0.5s;
}

.blue{
	background-color: #30bdf2;
	color: aliceblue;
}

.grey{
	background-color: #ebebeb;
}

.grey:hover{
	background-color: #d7d7d7;
	transition: 0.5s;
}

.material-icons {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.tools{
    margin-left: 1px;
    float: right;
}
.tools>i{
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.tools>i:hover{
    color: grey;
    font-size: 45px;
    transition: 0.5s;
}
